body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: #0a1e29;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  text-align: center;
}

ul li {
  list-style-type: none;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

nav ul li {
  position: relative;
  padding: 0 20px;
  height: 100%;
  display: flex;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 5px;
}

nav ul li:hover {
  background-color: #1b5270;
  transition: background-color 0.3s ease-in-out;
}
nav ul li a:hover {  
  transform: scale(1.1, 1.1);
  transition: transform 0.3s ease-in-out;
}

.profile {
  padding: 20px;
}

.profile-img {
  height: 150px;
  width: 150px;
}

.content-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.content-flex-common {
  width: 50vh;
  margin: 5px;
  padding: 10px 25px;
}

.footer-container-social {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px;
}

.footer-container-social-link a {
  text-decoration: none;
  color: white;
  padding: 0px 10px;
}
